<center> <h1 style="color : #483D8B"> Analisis sobre Seguridad Aerea </h1> </center>
<center> <h2 style="color : #4682B4"> Proyecto Final </h2> </center>

<center> <h3 style="color : #FF4500"> Curso Visualizacion de Datos </h3> </center>

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mplt

In [129]:
cols = ["airline", "avail_seat_km_per_week", "incidents_85_99", "fatal_accidents_85_99", "fatalities_85_99", "incidents_00_14", "fatal_accidents_00_14", "fatalities_00_14"]

avSafety = pd.read_csv("Aviation safety.csv", names=cols)

In [130]:
avSafety

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
1,Aer Lingus,320906734,2,0,0,0,0,0
2,Aeroflot*,1197672318,76,14,128,6,1,88
3,Aerolineas Argentinas,385803648,6,0,0,1,0,0
4,Aeromexico*,596871813,3,1,64,5,0,0
5,Air Canada,1865253802,2,0,0,2,0,0
6,Air France,3004002661,14,4,79,6,2,337
7,Air India*,869253552,2,1,329,4,1,158
8,Air New Zealand*,710174817,3,0,0,5,1,7
9,Alaska Airlines*,965346773,5,0,0,5,1,88
10,Alitalia,698012498,7,2,50,4,0,0
11,All Nippon Airways,1841234177,3,1,1,7,0,0
12,American*,5228357340,21,5,101,17,3,416
13,Austrian Airlines,358239823,1,0,0,1,0,0
14,Avianca,396922563,5,3,323,0,0,0
15,British Airways*,3179760952,4,0,0,6,0,0
16,Cathay Pacific*,2582459303,0,0,0,2,0,0
17,China Airlines,813216487,12,6,535,2,1,225
18,Condor,417982610,2,1,16,0,0,0
19,COPA,550491507,3,1,47,0,0,0
20,Delta / Northwest*,6525658894,24,12,407,24,2,51
21,Egyptair,557699891,8,3,282,4,1,14
22,El Al,335448023,1,1,4,1,0,0
23,Ethiopian Airlines,488560643,25,5,167,5,2,92
24,Finnair,506464950,1,0,0,0,0,0
25,Garuda Indonesia,613356665,10,3,260,4,2,22
26,Gulf Air,301379762,1,0,0,3,1,143
27,Hawaiian Airlines,493877795,0,0,0,1,0,0
28,Iberia,1173203126,4,1,148,5,0,0
29,Japan Airlines,1574217531,3,1,520,0,0,0
30,Kenya Airways,277414794,2,0,0,2,2,283
31,KLM*,1874561773,7,1,3,1,0,0
32,Korean Air,1734522605,12,5,425,1,0,0
33,LAN Airlines,1001965891,3,2,21,0,0,0
34,Lufthansa*,3426529504,6,1,2,3,0,0
35,Malaysia Airlines,1039171244,3,1,34,3,2,537
36,Pakistan International,348563137,8,3,234,10,2,46
37,Philippine Airlines,413007158,7,4,74,2,1,1
38,Qantas*,1917428984,1,0,0,5,0,0
39,Royal Air Maroc,295705339,5,3,51,3,0,0
40,SAS*,682971852,5,0,0,6,1,110
41,Saudi Arabian,859673901,7,2,313,11,0,0
42,Singapore Airlines,2376857805,2,2,6,2,1,83
43,South African,651502442,2,1,159,1,0,0
44,Southwest Airlines,3276525770,1,0,0,8,0,0
45,Sri Lankan / AirLanka,325582976,2,1,14,4,0,0
46,SWISS*,792601299,2,1,229,3,0,0
47,TACA,259373346,3,1,3,1,1,3
48,TAM,1509195646,8,3,98,7,2,188
49,TAP - Air Portugal,619130754,0,0,0,0,0,0
50,Thai Airways,1702802250,8,4,308,2,1,1
51,Turkish Airlines,1946098294,8,3,64,8,2,84
52,United / Continental*,7139291291,19,8,319,14,2,109
53,US Airways / America West*,2455687887,16,7,224,11,2,23
54,Vietnam Airlines,625084918,7,3,171,1,0,0
55,Virgin Atlantic,1005248585,1,0,0,0,0,0
56,Xiamen Airlines,430462962,9,1,82,2,0,0

In [131]:
avSafety.drop(avSafety.index[[0]])

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
1,Aer Lingus,320906734,2,0,0,0,0,0
2,Aeroflot*,1197672318,76,14,128,6,1,88
3,Aerolineas Argentinas,385803648,6,0,0,1,0,0
4,Aeromexico*,596871813,3,1,64,5,0,0
5,Air Canada,1865253802,2,0,0,2,0,0
6,Air France,3004002661,14,4,79,6,2,337
7,Air India*,869253552,2,1,329,4,1,158
8,Air New Zealand*,710174817,3,0,0,5,1,7
9,Alaska Airlines*,965346773,5,0,0,5,1,88
10,Alitalia,698012498,7,2,50,4,0,0
11,All Nippon Airways,1841234177,3,1,1,7,0,0
12,American*,5228357340,21,5,101,17,3,416
13,Austrian Airlines,358239823,1,0,0,1,0,0
14,Avianca,396922563,5,3,323,0,0,0
15,British Airways*,3179760952,4,0,0,6,0,0
16,Cathay Pacific*,2582459303,0,0,0,2,0,0
17,China Airlines,813216487,12,6,535,2,1,225
18,Condor,417982610,2,1,16,0,0,0
19,COPA,550491507,3,1,47,0,0,0
20,Delta / Northwest*,6525658894,24,12,407,24,2,51
21,Egyptair,557699891,8,3,282,4,1,14
22,El Al,335448023,1,1,4,1,0,0
23,Ethiopian Airlines,488560643,25,5,167,5,2,92
24,Finnair,506464950,1,0,0,0,0,0
25,Garuda Indonesia,613356665,10,3,260,4,2,22
26,Gulf Air,301379762,1,0,0,3,1,143
27,Hawaiian Airlines,493877795,0,0,0,1,0,0
28,Iberia,1173203126,4,1,148,5,0,0
29,Japan Airlines,1574217531,3,1,520,0,0,0
30,Kenya Airways,277414794,2,0,0,2,2,283
31,KLM*,1874561773,7,1,3,1,0,0
32,Korean Air,1734522605,12,5,425,1,0,0
33,LAN Airlines,1001965891,3,2,21,0,0,0
34,Lufthansa*,3426529504,6,1,2,3,0,0
35,Malaysia Airlines,1039171244,3,1,34,3,2,537
36,Pakistan International,348563137,8,3,234,10,2,46
37,Philippine Airlines,413007158,7,4,74,2,1,1
38,Qantas*,1917428984,1,0,0,5,0,0
39,Royal Air Maroc,295705339,5,3,51,3,0,0
40,SAS*,682971852,5,0,0,6,1,110
41,Saudi Arabian,859673901,7,2,313,11,0,0
42,Singapore Airlines,2376857805,2,2,6,2,1,83
43,South African,651502442,2,1,159,1,0,0
44,Southwest Airlines,3276525770,1,0,0,8,0,0
45,Sri Lankan / AirLanka,325582976,2,1,14,4,0,0
46,SWISS*,792601299,2,1,229,3,0,0
47,TACA,259373346,3,1,3,1,1,3
48,TAM,1509195646,8,3,98,7,2,188
49,TAP - Air Portugal,619130754,0,0,0,0,0,0
50,Thai Airways,1702802250,8,4,308,2,1,1
51,Turkish Airlines,1946098294,8,3,64,8,2,84
52,United / Continental*,7139291291,19,8,319,14,2,109
53,US Airways / America West*,2455687887,16,7,224,11,2,23
54,Vietnam Airlines,625084918,7,3,171,1,0,0
55,Virgin Atlantic,1005248585,1,0,0,0,0,0
56,Xiamen Airlines,430462962,9,1,82,2,0,0

In [132]:
avSafety.shape

(57, 8)

In [133]:
avSafety.head(5)

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
1,Aer Lingus,320906734,2,0,0,0,0,0
2,Aeroflot*,1197672318,76,14,128,6,1,88
3,Aerolineas Argentinas,385803648,6,0,0,1,0,0
4,Aeromexico*,596871813,3,1,64,5,0,0

In [134]:
avSafety.tail(5)

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
52,United / Continental*,7139291291,19,8,319,14,2,109
53,US Airways / America West*,2455687887,16,7,224,11,2,23
54,Vietnam Airlines,625084918,7,3,171,1,0,0
55,Virgin Atlantic,1005248585,1,0,0,0,0,0
56,Xiamen Airlines,430462962,9,1,82,2,0,0

In [70]:
avSafety.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline                 57 non-null     object
 1   avail_seat_km_per_week  57 non-null     object
 2   incidents_85_99         57 non-null     object
 3   fatal_accidents_85_99   57 non-null     object
 4   fatalities_85_99        57 non-null     object
 5   incidents_00_14         57 non-null     object
 6   fatal_accidents_00_14   57 non-null     object
 7   fatalities_00_14        57 non-null     object
dtypes: object(8)
memory usage: 3.7+ KB

In [137]:
avSafety.columns

Index(['airline', 'avail_seat_km_per_week', 'incidents_85_99',
       'fatal_accidents_85_99', 'fatalities_85_99', 'incidents_00_14',
       'fatal_accidents_00_14', 'fatalities_00_14'],
      dtype='object')

In [138]:
valoresPerdidos = avSafety.isnull()

In [76]:
for column in valoresPerdidos.columns.values.tolist():
    print(column)
    print(valoresPerdidos[column].value_counts())
    print("")

airline
False    57
Name: airline, dtype: int64

avail_seat_km_per_week
False    57
Name: avail_seat_km_per_week, dtype: int64

incidents_85_99
False    57
Name: incidents_85_99, dtype: int64

fatal_accidents_85_99
False    57
Name: fatal_accidents_85_99, dtype: int64

fatalities_85_99
False    57
Name: fatalities_85_99, dtype: int64

incidents_00_14
False    57
Name: incidents_00_14, dtype: int64

fatal_accidents_00_14
False    57
Name: fatal_accidents_00_14, dtype: int64

fatalities_00_14
False    57
Name: fatalities_00_14, dtype: int64

In [139]:
avSafety.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline                 57 non-null     object
 1   avail_seat_km_per_week  57 non-null     object
 2   incidents_85_99         57 non-null     object
 3   fatal_accidents_85_99   57 non-null     object
 4   fatalities_85_99        57 non-null     object
 5   incidents_00_14         57 non-null     object
 6   fatal_accidents_00_14   57 non-null     object
 7   fatalities_00_14        57 non-null     object
dtypes: object(8)
memory usage: 3.7+ KB

In [140]:
avSafety.dtypes

airline                   object
avail_seat_km_per_week    object
incidents_85_99           object
fatal_accidents_85_99     object
fatalities_85_99          object
incidents_00_14           object
fatal_accidents_00_14     object
fatalities_00_14          object
dtype: object

In [143]:
avSafety["avail_seat_km_per_week"] = pd.to_numeric(avSafety["avail_seat_km_per_week"], errors='coerce')

In [144]:
avSafety.dtypes

airline                    object
avail_seat_km_per_week    float64
incidents_85_99            object
fatal_accidents_85_99      object
fatalities_85_99           object
incidents_00_14            object
fatal_accidents_00_14      object
fatalities_00_14           object
dtype: object

In [147]:
avSafety["incidents_85_99"] = pd.to_numeric(avSafety["incidents_85_99"], errors='coerce')

In [148]:
avSafety["fatal_accidents_85_99"] = pd.to_numeric(avSafety["fatal_accidents_85_99"], errors='coerce')

In [149]:
avSafety["fatalities_85_99"] = pd.to_numeric(avSafety["fatalities_85_99"], errors='coerce')

In [150]:
avSafety["incidents_00_14"] = pd.to_numeric(avSafety["incidents_00_14"], errors='coerce')

In [151]:
avSafety["fatal_accidents_00_14"] = pd.to_numeric(avSafety["fatal_accidents_00_14"], errors='coerce')

In [153]:
avSafety["fatalities_00_14"] = pd.to_numeric(avSafety["fatalities_00_14"], errors='coerce')

In [154]:
avSafety.dtypes

airline                    object
avail_seat_km_per_week    float64
incidents_85_99           float64
fatal_accidents_85_99     float64
fatalities_85_99          float64
incidents_00_14           float64
fatal_accidents_00_14     float64
fatalities_00_14          float64
dtype: object

In [155]:
avSafety

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,airline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aer Lingus,3.209067e+08,2.0,0.0,0.0,0.0,0.0,0.0
2,Aeroflot*,1.197672e+09,76.0,14.0,128.0,6.0,1.0,88.0
3,Aerolineas Argentinas,3.858036e+08,6.0,0.0,0.0,1.0,0.0,0.0
4,Aeromexico*,5.968718e+08,3.0,1.0,64.0,5.0,0.0,0.0
5,Air Canada,1.865254e+09,2.0,0.0,0.0,2.0,0.0,0.0
6,Air France,3.004003e+09,14.0,4.0,79.0,6.0,2.0,337.0
7,Air India*,8.692536e+08,2.0,1.0,329.0,4.0,1.0,158.0
8,Air New Zealand*,7.101748e+08,3.0,0.0,0.0,5.0,1.0,7.0
9,Alaska Airlines*,9.653468e+08,5.0,0.0,0.0,5.0,1.0,88.0
10,Alitalia,6.980125e+08,7.0,2.0,50.0,4.0,0.0,0.0
11,All Nippon Airways,1.841234e+09,3.0,1.0,1.0,7.0,0.0,0.0
12,American*,5.228357e+09,21.0,5.0,101.0,17.0,3.0,416.0
13,Austrian Airlines,3.582398e+08,1.0,0.0,0.0,1.0,0.0,0.0
14,Avianca,3.969226e+08,5.0,3.0,323.0,0.0,0.0,0.0
15,British Airways*,3.179761e+09,4.0,0.0,0.0,6.0,0.0,0.0
16,Cathay Pacific*,2.582459e+09,0.0,0.0,0.0,2.0,0.0,0.0
17,China Airlines,8.132165e+08,12.0,6.0,535.0,2.0,1.0,225.0
18,Condor,4.179826e+08,2.0,1.0,16.0,0.0,0.0,0.0
19,COPA,5.504915e+08,3.0,1.0,47.0,0.0,0.0,0.0
20,Delta / Northwest*,6.525659e+09,24.0,12.0,407.0,24.0,2.0,51.0
21,Egyptair,5.576999e+08,8.0,3.0,282.0,4.0,1.0,14.0
22,El Al,3.354480e+08,1.0,1.0,4.0,1.0,0.0,0.0
23,Ethiopian Airlines,4.885606e+08,25.0,5.0,167.0,5.0,2.0,92.0
24,Finnair,5.064650e+08,1.0,0.0,0.0,0.0,0.0,0.0
25,Garuda Indonesia,6.133567e+08,10.0,3.0,260.0,4.0,2.0,22.0
26,Gulf Air,3.013798e+08,1.0,0.0,0.0,3.0,1.0,143.0
27,Hawaiian Airlines,4.938778e+08,0.0,0.0,0.0,1.0,0.0,0.0
28,Iberia,1.173203e+09,4.0,1.0,148.0,5.0,0.0,0.0
29,Japan Airlines,1.574218e+09,3.0,1.0,520.0,0.0,0.0,0.0
30,Kenya Airways,2.774148e+08,2.0,0.0,0.0,2.0,2.0,283.0
31,KLM*,1.874562e+09,7.0,1.0,3.0,1.0,0.0,0.0
32,Korean Air,1.734523e+09,12.0,5.0,425.0,1.0,0.0,0.0
33,LAN Airlines,1.001966e+09,3.0,2.0,21.0,0.0,0.0,0.0
34,Lufthansa*,3.426530e+09,6.0,1.0,2.0,3.0,0.0,0.0
35,Malaysia Airlines,1.039171e+09,3.0,1.0,34.0,3.0,2.0,537.0
36,Pakistan International,3.485631e+08,8.0,3.0,234.0,10.0,2.0,46.0
37,Philippine Airlines,4.130072e+08,7.0,4.0,74.0,2.0,1.0,1.0
38,Qantas*,1.917429e+09,1.0,0.0,0.0,5.0,0.0,0.0
39,Royal Air Maroc,2.957053e+08,5.0,3.0,51.0,3.0,0.0,0.0
40,SAS*,6.829719e+08,5.0,0.0,0.0,6.0,1.0,110.0
41,Saudi Arabian,8.596739e+08,7.0,2.0,313.0,11.0,0.0,0.0
42,Singapore Airlines,2.376858e+09,2.0,2.0,6.0,2.0,1.0,83.0
43,South African,6.515024e+08,2.0,1.0,159.0,1.0,0.0,0.0
44,Southwest Airlines,3.276526e+09,1.0,0.0,0.0,8.0,0.0,0.0
45,Sri Lankan / AirLanka,3.255830e+08,2.0,1.0,14.0,4.0,0.0,0.0
46,SWISS*,7.926013e+08,2.0,1.0,229.0,3.0,0.0,0.0
47,TACA,2.593733e+08,3.0,1.0,3.0,1.0,1.0,3.0
48,TAM,1.509196e+09,8.0,3.0,98.0,7.0,2.0,188.0
49,TAP - Air Portugal,6.191308e+08,0.0,0.0,0.0,0.0,0.0,0.0
50,Thai Airways,1.702802e+09,8.0,4.0,308.0,2.0,1.0,1.0
51,Turkish Airlines,1.946098e+09,8.0,3.0,64.0,8.0,2.0,84.0
52,United / Continental*,7.139291e+09,19.0,8.0,319.0,14.0,2.0,109.0
53,US Airways / America West*,2.455688e+09,16.0,7.0,224.0,11.0,2.0,23.0
54,Vietnam Airlines,6.250849e+08,7.0,3.0,171.0,1.0,0.0,0.0
55,Virgin Atlantic,1.005249e+09,1.0,0.0,0.0,0.0,0.0,0.0
56,Xiamen Airlines,4.304630e+08,9.0,1.0,82.0,2.0,0.0,0.0

In [156]:
avSafety.drop(avSafety.index[[0]])

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
1,Aer Lingus,3.209067e+08,2.0,0.0,0.0,0.0,0.0,0.0
2,Aeroflot*,1.197672e+09,76.0,14.0,128.0,6.0,1.0,88.0
3,Aerolineas Argentinas,3.858036e+08,6.0,0.0,0.0,1.0,0.0,0.0
4,Aeromexico*,5.968718e+08,3.0,1.0,64.0,5.0,0.0,0.0
5,Air Canada,1.865254e+09,2.0,0.0,0.0,2.0,0.0,0.0
6,Air France,3.004003e+09,14.0,4.0,79.0,6.0,2.0,337.0
7,Air India*,8.692536e+08,2.0,1.0,329.0,4.0,1.0,158.0
8,Air New Zealand*,7.101748e+08,3.0,0.0,0.0,5.0,1.0,7.0
9,Alaska Airlines*,9.653468e+08,5.0,0.0,0.0,5.0,1.0,88.0
10,Alitalia,6.980125e+08,7.0,2.0,50.0,4.0,0.0,0.0
11,All Nippon Airways,1.841234e+09,3.0,1.0,1.0,7.0,0.0,0.0
12,American*,5.228357e+09,21.0,5.0,101.0,17.0,3.0,416.0
13,Austrian Airlines,3.582398e+08,1.0,0.0,0.0,1.0,0.0,0.0
14,Avianca,3.969226e+08,5.0,3.0,323.0,0.0,0.0,0.0
15,British Airways*,3.179761e+09,4.0,0.0,0.0,6.0,0.0,0.0
16,Cathay Pacific*,2.582459e+09,0.0,0.0,0.0,2.0,0.0,0.0
17,China Airlines,8.132165e+08,12.0,6.0,535.0,2.0,1.0,225.0
18,Condor,4.179826e+08,2.0,1.0,16.0,0.0,0.0,0.0
19,COPA,5.504915e+08,3.0,1.0,47.0,0.0,0.0,0.0
20,Delta / Northwest*,6.525659e+09,24.0,12.0,407.0,24.0,2.0,51.0
21,Egyptair,5.576999e+08,8.0,3.0,282.0,4.0,1.0,14.0
22,El Al,3.354480e+08,1.0,1.0,4.0,1.0,0.0,0.0
23,Ethiopian Airlines,4.885606e+08,25.0,5.0,167.0,5.0,2.0,92.0
24,Finnair,5.064650e+08,1.0,0.0,0.0,0.0,0.0,0.0
25,Garuda Indonesia,6.133567e+08,10.0,3.0,260.0,4.0,2.0,22.0
26,Gulf Air,3.013798e+08,1.0,0.0,0.0,3.0,1.0,143.0
27,Hawaiian Airlines,4.938778e+08,0.0,0.0,0.0,1.0,0.0,0.0
28,Iberia,1.173203e+09,4.0,1.0,148.0,5.0,0.0,0.0
29,Japan Airlines,1.574218e+09,3.0,1.0,520.0,0.0,0.0,0.0
30,Kenya Airways,2.774148e+08,2.0,0.0,0.0,2.0,2.0,283.0
31,KLM*,1.874562e+09,7.0,1.0,3.0,1.0,0.0,0.0
32,Korean Air,1.734523e+09,12.0,5.0,425.0,1.0,0.0,0.0
33,LAN Airlines,1.001966e+09,3.0,2.0,21.0,0.0,0.0,0.0
34,Lufthansa*,3.426530e+09,6.0,1.0,2.0,3.0,0.0,0.0
35,Malaysia Airlines,1.039171e+09,3.0,1.0,34.0,3.0,2.0,537.0
36,Pakistan International,3.485631e+08,8.0,3.0,234.0,10.0,2.0,46.0
37,Philippine Airlines,4.130072e+08,7.0,4.0,74.0,2.0,1.0,1.0
38,Qantas*,1.917429e+09,1.0,0.0,0.0,5.0,0.0,0.0
39,Royal Air Maroc,2.957053e+08,5.0,3.0,51.0,3.0,0.0,0.0
40,SAS*,6.829719e+08,5.0,0.0,0.0,6.0,1.0,110.0
41,Saudi Arabian,8.596739e+08,7.0,2.0,313.0,11.0,0.0,0.0
42,Singapore Airlines,2.376858e+09,2.0,2.0,6.0,2.0,1.0,83.0
43,South African,6.515024e+08,2.0,1.0,159.0,1.0,0.0,0.0
44,Southwest Airlines,3.276526e+09,1.0,0.0,0.0,8.0,0.0,0.0
45,Sri Lankan / AirLanka,3.255830e+08,2.0,1.0,14.0,4.0,0.0,0.0
46,SWISS*,7.926013e+08,2.0,1.0,229.0,3.0,0.0,0.0
47,TACA,2.593733e+08,3.0,1.0,3.0,1.0,1.0,3.0
48,TAM,1.509196e+09,8.0,3.0,98.0,7.0,2.0,188.0
49,TAP - Air Portugal,6.191308e+08,0.0,0.0,0.0,0.0,0.0,0.0
50,Thai Airways,1.702802e+09,8.0,4.0,308.0,2.0,1.0,1.0
51,Turkish Airlines,1.946098e+09,8.0,3.0,64.0,8.0,2.0,84.0
52,United / Continental*,7.139291e+09,19.0,8.0,319.0,14.0,2.0,109.0
53,US Airways / America West*,2.455688e+09,16.0,7.0,224.0,11.0,2.0,23.0
54,Vietnam Airlines,6.250849e+08,7.0,3.0,171.0,1.0,0.0,0.0
55,Virgin Atlantic,1.005249e+09,1.0,0.0,0.0,0.0,0.0,0.0
56,Xiamen Airlines,4.304630e+08,9.0,1.0,82.0,2.0,0.0,0.0

In [187]:
avSafety["bool_series"]= avSafety["airline"].str.isalpha()

In [188]:
avSafety

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14,bool_series
0,airline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,Aer Lingus,3.209067e+08,2.0,0.0,0.0,0.0,0.0,0.0,False
2,Aeroflot*,1.197672e+09,76.0,14.0,128.0,6.0,1.0,88.0,False
3,Aerolineas Argentinas,3.858036e+08,6.0,0.0,0.0,1.0,0.0,0.0,False
4,Aeromexico*,5.968718e+08,3.0,1.0,64.0,5.0,0.0,0.0,False
5,Air Canada,1.865254e+09,2.0,0.0,0.0,2.0,0.0,0.0,False
6,Air France,3.004003e+09,14.0,4.0,79.0,6.0,2.0,337.0,False
7,Air India*,8.692536e+08,2.0,1.0,329.0,4.0,1.0,158.0,False
8,Air New Zealand*,7.101748e+08,3.0,0.0,0.0,5.0,1.0,7.0,False
9,Alaska Airlines*,9.653468e+08,5.0,0.0,0.0,5.0,1.0,88.0,False
10,Alitalia,6.980125e+08,7.0,2.0,50.0,4.0,0.0,0.0,True
11,All Nippon Airways,1.841234e+09,3.0,1.0,1.0,7.0,0.0,0.0,False
12,American*,5.228357e+09,21.0,5.0,101.0,17.0,3.0,416.0,False
13,Austrian Airlines,3.582398e+08,1.0,0.0,0.0,1.0,0.0,0.0,False
14,Avianca,3.969226e+08,5.0,3.0,323.0,0.0,0.0,0.0,True
15,British Airways*,3.179761e+09,4.0,0.0,0.0,6.0,0.0,0.0,False
16,Cathay Pacific*,2.582459e+09,0.0,0.0,0.0,2.0,0.0,0.0,False
17,China Airlines,8.132165e+08,12.0,6.0,535.0,2.0,1.0,225.0,False
18,Condor,4.179826e+08,2.0,1.0,16.0,0.0,0.0,0.0,True
19,COPA,5.504915e+08,3.0,1.0,47.0,0.0,0.0,0.0,True
20,Delta / Northwest*,6.525659e+09,24.0,12.0,407.0,24.0,2.0,51.0,False
21,Egyptair,5.576999e+08,8.0,3.0,282.0,4.0,1.0,14.0,True
22,El Al,3.354480e+08,1.0,1.0,4.0,1.0,0.0,0.0,False
23,Ethiopian Airlines,4.885606e+08,25.0,5.0,167.0,5.0,2.0,92.0,False
24,Finnair,5.064650e+08,1.0,0.0,0.0,0.0,0.0,0.0,True
25,Garuda Indonesia,6.133567e+08,10.0,3.0,260.0,4.0,2.0,22.0,False
26,Gulf Air,3.013798e+08,1.0,0.0,0.0,3.0,1.0,143.0,False
27,Hawaiian Airlines,4.938778e+08,0.0,0.0,0.0,1.0,0.0,0.0,False
28,Iberia,1.173203e+09,4.0,1.0,148.0,5.0,0.0,0.0,True
29,Japan Airlines,1.574218e+09,3.0,1.0,520.0,0.0,0.0,0.0,False
30,Kenya Airways,2.774148e+08,2.0,0.0,0.0,2.0,2.0,283.0,False
31,KLM*,1.874562e+09,7.0,1.0,3.0,1.0,0.0,0.0,False
32,Korean Air,1.734523e+09,12.0,5.0,425.0,1.0,0.0,0.0,False
33,LAN Airlines,1.001966e+09,3.0,2.0,21.0,0.0,0.0,0.0,False
34,Lufthansa*,3.426530e+09,6.0,1.0,2.0,3.0,0.0,0.0,False
35,Malaysia Airlines,1.039171e+09,3.0,1.0,34.0,3.0,2.0,537.0,False
36,Pakistan International,3.485631e+08,8.0,3.0,234.0,10.0,2.0,46.0,False
37,Philippine Airlines,4.130072e+08,7.0,4.0,74.0,2.0,1.0,1.0,False
38,Qantas*,1.917429e+09,1.0,0.0,0.0,5.0,0.0,0.0,False
39,Royal Air Maroc,2.957053e+08,5.0,3.0,51.0,3.0,0.0,0.0,False
40,SAS*,6.829719e+08,5.0,0.0,0.0,6.0,1.0,110.0,False
41,Saudi Arabian,8.596739e+08,7.0,2.0,313.0,11.0,0.0,0.0,False
42,Singapore Airlines,2.376858e+09,2.0,2.0,6.0,2.0,1.0,83.0,False
43,South African,6.515024e+08,2.0,1.0,159.0,1.0,0.0,0.0,False
44,Southwest Airlines,3.276526e+09,1.0,0.0,0.0,8.0,0.0,0.0,False
45,Sri Lankan / AirLanka,3.255830e+08,2.0,1.0,14.0,4.0,0.0,0.0,False
46,SWISS*,7.926013e+08,2.0,1.0,229.0,3.0,0.0,0.0,False
47,TACA,2.593733e+08,3.0,1.0,3.0,1.0,1.0,3.0,True
48,TAM,1.509196e+09,8.0,3.0,98.0,7.0,2.0,188.0,True
49,TAP - Air Portugal,6.191308e+08,0.0,0.0,0.0,0.0,0.0,0.0,False
50,Thai Airways,1.702802e+09,8.0,4.0,308.0,2.0,1.0,1.0,False
51,Turkish Airlines,1.946098e+09,8.0,3.0,64.0,8.0,2.0,84.0,False
52,United / Continental*,7.139291e+09,19.0,8.0,319.0,14.0,2.0,109.0,False
53,US Airways / America West*,2.455688e+09,16.0,7.0,224.0,11.0,2.0,23.0,False
54,Vietnam Airlines,6.250849e+08,7.0,3.0,171.0,1.0,0.0,0.0,False
55,Virgin Atlantic,1.005249e+09,1.0,0.0,0.0,0.0,0.0,0.0,False
56,Xiamen Airlines,4.304630e+08,9.0,1.0,82.0,2.0,0.0,0.0,False

In [192]:
dftemp = avSafety[["airline","bool_series"]]

In [194]:
dftemp.head(10)

                 airline  bool_series
0                airline         True
1             Aer Lingus        False
2              Aeroflot*        False
3  Aerolineas Argentinas        False
4            Aeromexico*        False
5             Air Canada        False
6             Air France        False
7             Air India*        False
8       Air New Zealand*        False
9       Alaska Airlines*        False

In [201]:
airline=('airline')

In [202]:
airline1=airline.replace("*", "")

In [204]:
dftemp.head(10)

                 airline  bool_series
0                airline         True
1             Aer Lingus        False
2              Aeroflot*        False
3  Aerolineas Argentinas        False
4            Aeromexico*        False
5             Air Canada        False
6             Air France        False
7             Air India*        False
8       Air New Zealand*        False
9       Alaska Airlines*        False